<%- model_class = Profile -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt> <%= image_tag  @profile.avatar.url, :class => 'img-circle avatar'%></strong></dt>
  <dd>
   <h3><%= @profile.name %></h3>
   <small>
     <%= @profile.description %>
   </small>
  </dd>
</dl>
