<div id='leftframe' class='homeleftframe'>
    <%= render :partial => "layouts/leftnav" %>
</div>
<div id='rightframe' class='homerightframe'>
    <div class="edituserform">
      <% if @success == true %>
        <p id="notice">Profile was successfully updated.</p>
      <% end %>
      </br><br>
      <%= render :partial => "form" , :locals => {:edit => true} %>
    </div>
</div>
