<div id='leftframe' class='homeleftframe'>
    <div class='welcomeimage'>
            <img height='400px' width='500px'></img>
    </div>
</div>
<div id='rightframe' class='homerightframe'>
    <div class="createuserform" 
        <% if @user.errors.any? %>
          style="padding-top:50px;"
        <% end %>
    >
      <% if @user.errors.empty? %>
        <div>Fill out the following and you will be on your way to being an urbanhitchhiker!</div>
      <% end %>
      </br><br>
      <%= render :partial => "form" , :locals => {:edit => 'false'} %>
    </div>
</div>