<div id="leftnavigationpage">
  <div id="leftnavigation">
      <b class="leftnavtop"><b class="ln1"></b><b class="ln2"></b><b class="ln3"></b><b class="ln4"></b></b>
      <div class="leftnavcontent">
              <div class="leftnavcontentheader"></div>
              <div id='leftnavlinks' class="leftnavcontentbody">
                              <span id='link'><span id='profilelink'><a href="/users/<%= session[:user_id] %>/edit">Profile</a></span></span>
                              <br>
                              <span id='link'><span id='tripslink'><a href="/trips">Trips</a></span></span>
              </div>
      </div>

      <b class="leftnavbottom"><b class="lnb4"></b><b class="lnb3"></b><b class="lnb2"></b><b class="lnb1"></b></b>
  </div>
</div>

