<hr/>
<p>
  <small>
    If you have any questions or concerns, please contact us at
    <%= link_to 'support@urbanhitchhiker.com', 'mailto:support@urbanhitchhiker.com' %>
  </small>
</p>
</td>
</tr>
</table>
</td>
</tr>
</table>
</body>
</html>